@charset "UTF-8";

/*

em HTML é id    -> CSS é #
em HTML é class -> CSS é .

pode usar 

h1#principal{
    text-aling: center;
}

==

#principal{
    text-aling: center;
}

dentro de um elemento html só pode ter um elemento com ID (ID é único)

msm configuração dentro de mais um elemento usa class

ID > CLASS
*/

body{
    background-color: rgb(216, 189, 242);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(76, 6, 142);
}

h1#principal{
    text-align: center;
    background-color: blueviolet;
    color: white;
}

.intermediario{
    color: yellow
}

.avancado{
    color: red
}

.destaque{
    background-color: blue;
}

h2{
    color: rgb(43, 2, 84);
}

