@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #4A748E, #2B8AC4);
}

main{
    background-color: white;
    border-radius: 10px;
    width: 800px;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 15px #10324795;
}

h1{
    text-align: center;
    color: #4A748E;
    text-shadow: 1px 1px 2px #091f2ca0;
}

h2{
    color: #103247
}

p{
    text-align: justify;
}